{#
/**
 * @file
 * Default theme implementation for a block.
 *
 * Variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, begins before title.
 * - title_suffix: Additional output populated by modules, ends after title.
 *
 * @see template_preprocess_block()
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  <div{{ content_attributes }}>
    {{ content }}
  </div>
</div>
